#dice{
    background-color: bisque;
    width: 180px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: 80px;
    border-radius: 10px;
    padding-top: 20px;
}